*{
    margin: 0px;
    padding: 0px;
}
/*==Reset CSS==*/

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}
/*==Style cơ bản cho website==*/
body {
    font-family: sans-serif;
    color: #333;
  }
   

ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
.top-head{
    background: black;
}

.top-left{
    float: left;
    width: 80%;
}

.top-right{
    float: none;
}


.top-left ul li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 30px;
}

.top-left ul li a{
    color:#fff;
    font-size: 13px;

    transition: all .3s;
}

.top-left ul li a:hover{
    color: #ffee06;
    text-decoration: none;
}

.top-right span{
    display: inline-block;
    margin-left: 15px;

}

.top-right span a:hover{
    color:#fff;
}
.clear{
    clear: both;
}

.logo img{
    width: 210px;
}

input.form-control{
    width:  400px;
    float:left;
    border-radius: 0;
    border: 1px solid #1cbeff;
}

button.btn.btn-primary{
    border-radius: 0px;
    background: #1cbeff;
    text-transform: uppercase;
    border: 1px solid #1cbeff;
}

.header-center{
    padding: 30px 0;
}
.search{
    padding-top: 20px;
}
.main-menu{
    background: blue    ;
}
.main-menu ul li{
    float:left;
    padding: 5px 30px;
    position: relative;
}

.main-menu ul li a{
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
}

.main-menu ul li a:hover{
    color: aqua;
}

 